/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 11 mag 2020, 16:58:12
    Author     : stefano
*/

/*ICONE*/
.icona {
  position: relative;
  top: 1px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;

}

.icona-trekking:before {
  content: url("../img/icona_trekking.jpg");
  height: auto;
  width: auto;
  object-fit: contain;
}



/*NAV BAR*/

/*crea il logo del brand in alto a sinistra */


.navbar-brand {
 display: inline-block;
 text-indent: -9999px;

 width: 250px;
 height: 80px;

 background: url(../img/logo_nuovo_4.png) center center no-repeat;
}

.navbar-imag {
 /*width: 250px;*/
 width: 250px;
 height: 180px;

}

/*forma generica nav bar*/
.navbar-default {
 background-color: #fcfcfc; /*bianco*/
}

.navbar {
  margin-top: 50px;
  border: none;
  justify-content: space-between;
}

.navbar-nav {
  margin-top: 0.5;
}

/*stile elementi a della nav bar*/
.navbar-default .navbar-nav > li > a { /*applicato a tutti elemeti la navbar e elementi delle liste*/
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase; /*tutto in maiuscolo*/
  color: #333333; /*colore delle scritte*/
}

/*stile elementi a.bordo-selezione della nav bar*/
.navbar-default .navbar-nav > li > .bordo-selezione { /*applicato a tutti elemeti la navbar e elementi delle liste*/
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase; /*tutto in maiuscolo*/
  color: #333333; /*colore delle scritte*/
  border-bottom: 1px solid #357ebd; /*bordo inserito*/
}

/*il bottone di login è arancio*/
.btnlogin{
    background-color: #ff960d;
    padding: 15px 25px;
    border-radius: 8px;
}

.btn-riprova{
   background-color: #ff960d; 
   color: #333333;
}

/* la parte di login è spaziata*/
.navbar-login{
    margin-left: 50px;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
}



/* ATTIVO*/

/* seleziona certi elementi*/
/*.navbar-default > li > a:hover,
.navbar-default > li > a:focus {
      color: #357ebd;
    } */







/* MOUSE */

/*stampa linea blu a tutti tranne a.btnlogin*/
@media screen and (min-width: 768px) {
     .navbar-default .navbar-nav > li > a.bordo-selezione {
      border-bottom: none;
    }

    .navbar-default .navbar-nav > li > a.btnsignin:hover,
    .navbar-default .navbar-nav > li > a.bordo-selezione:focus,
    .navbar-default .navbar-nav > li > a.bordo-selezione:hover,
    .navbar-default .navbar-nav > li > a.bordo-selezione:focus {
      color: #357ebd;
      border-bottom: 4px solid #357ebd;
      padding-bottom: 13px;
    }
    .navbar-default .navbar-nav > li > a.btnlogin:hover,
    .navbar-default .navbar-nav > li > a.btnlogin:focus {
      color: #555;
      background-color: #ff960d;
      border-bottom: 4px solid #f7cc5e;
      padding-bottom: 13px;
    }


    }

.text-white{
    /*color: white!important;*/
    color: #fcfcfc!important;
}

#this:hover{
    background-color: #518ec7;
}

/* IMMAGINE*/
.jumbotron {
            background-image: url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
}

/*HEADER*/
.header-sezione {
 padding: 10px 15px;
 border-bottom: 2px solid #357ebd;
}

.header-secondario {
 padding: 10px 15px;
 border-bottom: 1px solid #357ebd;
}


/*NAV TABS*/

.nav-tabs {
  margin-top: 15px;
}

.nav-tabs > li {
  float: left;

}

.tab-content {
    padding: 20px 0;
    height: 500px;
}

/*formato di ogni singolo elemento*/
.nav-tabs > li > a {
  font-size: 14px;
  font-weight: bold;
  margin-right: 2px;
  line-height: 1.428571429;
  border: 0;
  border-radius: 0;
}

/*elementi attivi sono blu*/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: #357ebd;
  border: none;
  border-bottom-color: transparent;
  cursor: default;

}

/*elementi sottolineati hanno barra blu*/
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  color: #357ebd;
  box-shadow: inset 0 -4px 0 #357ebd;
  cursor: default;

}

   .navbar-fixed-top {

}


.form-inline input {width: 170px}


li.inserimeno-titolo > p.titolo{
    margin-top: 15px;
    text-align: center;
    background-color: #5cb85c;
}


/*serve per eliminare il testo in eccesso*/
.list-group-item,
.list-group-item > h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.all_text {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.card > .list-group:first-child .all_text:first-child {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.card > .list-group:last-child .all_text:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.not_all_text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.overflow-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.filtro{
    font-size: 25px;
  font-weight: bold;
  text-transform: uppercase; /*tutto in maiuscolo*/
  color: #333333;
  border-left: 3px solid #357ebd;
}


.inline-form {
    display: inline;
}



.text_padding_card{
    padding: 0.8rem 2rem
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link + .card-link {
    margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f7f7f9;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
}



.card-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.card-info .card-header,
.card-info .card-footer {
    background-color: transparent;
}


/*PREFERITI*/
.checked-star {
  color: orange;
}

.invalid-input {
    color: #bd2626;
    font-weight: bold;
}


.border-red {
    border-color: #bd2626;
}



.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popup .hidden .hide{
  visibility: hidden;
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity:0 ;}
}



/*.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 8%;   change this value to required width
  font-size: 20px;
  color: #357ebd;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
z-index: 10;
}*/

/*.carousel-indicators li { visibility: hidden; }*/

/*.carousel-inner .item {
    font-size:10px;
    color:#0404B4
    }*/

.carousel-control {
    z-index: 10;
    font-size: 20px;
    color: #357ebd;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
    color: #357ebd;
    top: 2%;
    width: 30px;
}
.carousel-control.left,
.carousel-control.right { background: none }
.carousel-control.left { left: -10px; }
.carousel-control.right { right: -20px; }

.notificaAttiva {
    color: #357ebd;
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate{
    0%,100%{
        transform: translateY(2px);
    }
    50%{
        transform: translateY(-2px);
    }
}


html, body, #map, #elevation-div { height: 100%; width: 100%; padding: 0; margin: 0; }
#map { height: 75%; margin-left: auto; margin-right: auto; }
#elevation-div {	height: 25%; font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; }

